<div class="footer">
    <div class="footer-container">
        <div class="footer-heart-container">
            <p class="footer-heart">Made with  <i class="em em-beers"></i>  in Strasbourg</p>
        </div>
    </div>
</div>