<div class="header">
    <div class="header-container">
        <h1 class="header-title"><a href="/">Fromage.io </a> <i class="em em-cheese_wedge"></i></h1>
        <div class="header-link">
            <a class="header-link connectIns " href="http://www.fromagerie-tourrette.com/">Acheter du Fromage</a>
        </div>
    </div>
</div>